@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
  background-color: #668fe7;
}

.shadowed-btn {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.shadowed2-btn {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.abeezee-font {
  font-family: "ABeeZee", sans-serif;
}
.roboto-font {
  font-family: "Roboto", sans-serif;
}

.app-button{
}
.nav{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


/* scroll bar style  */
/* design for six */
.six-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.six-scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}
.six-scrollbar::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}
/* design for seven */
.seven-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgb(122,153,217);
	border-radius: 0px;
}

.seven-scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: black;
}

.seven-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgb(28,58,148);
}



/* black to blue color */
.btb-border{
  border-color : rgb(122,153,217);
  /* border-color: rgb(28,58,148); */
}